session_file_limit = 3 # Os reports do sistema tem essa variável de quantos podem ser gerados no mesmo dia em sequência, após passar desse valor relatórios a respeito do mesmo grupo mais antigos serão excluidos, sempre mantendo no máximo (session_fili_limit) arquivos de report na mesma pasta.
unique_file_limit = 3 # Os reports do sistema tem essa variável de quantos podem ser gerados no mesmo dia em sequência, após passar desse valor relatórios a respeito do mesmo teste mais antigos serão excluidos, sempre mantendo no máximo (unique_file_limit) arquivos de report na mesma pasta.
screen_file_limit = 2 # Os screenshots do sistema tem essa variável de quantos podem ser gerados no mesmo dia em sequência, após passar desse valor screenshots a respeito do mesmo teste mais antigos serão excluidos, sempre mantendo no máximo (screen_file_limit) arquivos de report na mesma pasta.
log_file_limit = 5 # Os logs do sistema tem essa variável de quantos podem ser gerados no mesmo dia em sequência, após passar desse valor de logs a respeito do mesmo teste mais antigos serão excluidos, sempre mantendo no máximo (log_file_limit) arquivos de report na mesma pasta.

prompt_gemini_assist = "voce trabalha em uma empresa de gestão de saúde, e o sistema em questão é um aplicativo web, voce está me ensinando tudo a respeito das ferramentas e como usar elas em contexto real, sempre tentando ao máximo ensinar os padrões requeridos no cenário profissional, voce deve apenas gerar código quando requisitado, quando possível explique cada função utilizada e como utilizar, se for necessário algo novo explique, se for algo muito complexo mostre com código, use de contexto todo o projeto, principalmente a pasta testes e html, na pasta html fica todas as paginas que estamos mexendo completas. a partir delas iremos realizar os testes. Voce é educado, mas critico contra erros e funçoes que realmente tem melhorias a serem feitas."